Source: percona-server
Section: database
Priority: extra
Maintainer: MyDB Server Development Team <mysql-dev@mydb.ru>
Build-Depends: bison,
               cmake,
               debhelper (>= 9.0.0),
               fakeroot,
               libaio-dev[linux-any],
               libmecab-dev,
               libncurses5-dev (>= 5.0-6),
               lsb-release,
               perl,
               po-debconf,
               psmisc,
               zlib1g-dev (>= 1:1.1.3-5),
               libpam-dev,
               libssl-dev,
               libnuma-dev,
               gcc (>= 4.4),
               g++ (>= 4.4),
               libwrap0-dev,
               libcurl4-openssl-dev,
               libldap2-dev
Standards-Version: 3.9.4
Homepage: http://www.mydb.ru

Package: mydb-rocksdb
Section: database
Architecture: any
Depends: mydb-server (= ${binary:Version}), ${misc:Depends}
Breaks: mydb-rocksdb-5.7
Replaces: mydb-rocksdb-5.7
Description: MyRocks storage engine plugin for MyDB
 .
 MyRocks is a storage engine for MyDB which incorporates RocksDB
 library optimized for fast storage and space efficiency.
 .
 This package includes the MyRocks/RocksDB plugin library.

Package: libmydbclient22
Architecture: any
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Depends: mydb-common (= ${binary:Version}), ${misc:Depends}, ${shlibs:Depends}
Replaces: libmydb-client16, libmydbclient18, libmydbclient18.1, libmydbclient20, libmydbclient21
Description: MyDB client library
 MyDB is a fast, stable and true multi-user, 
 multi-threaded SQL database server. SQL (Structured Query Language) 
 is the most popular database query language in the world. The main 
 goals of MyDB are speed, robustness and ease of use.
 .
 This package includes the client library.

Package: libmydbclient22-dev
Architecture: any
Section: libdevel
Depends: libmydbclient22 (= ${binary:Version}),
         zlib1g-dev, ${misc:Depends}
Breaks: libmydbclient21-dev,
	libmydbclient20-dev,
        libmydbclient18.1-dev,
        libmydbclient18-dev,
        libmydbclient16-dev,
        libmydbclient15-dev,
        libmydbclient14-dev,
        libmydbclient12-dev,
        libmydbclient10-dev,
        libmysqlclient-dev,
        libmysqlclient18-dev,
        libmysqlclient20-dev,
        libmysqlclient21-dev,
        libmariadbclient-dev
Replaces: libmydbclient21-dev,
	  libmydbclient20-dev,
          libmydbclient18.1-dev,
          libmydbclient18-dev,
          libmydbclient16-dev,
          libmydbclient15-dev,
          libmydbclient14-dev,
          libmydbclient12-dev,
          libmydbclient10-dev,
          libpercona-xtradb-client-dev,
          libmariadbclient-dev
Provides: libmysqlclient-dev
Description: MyDB development files
 MyDB is a fast, stable and true multi-user, 
 multi-threaded SQL database server. SQL (Structured Query Language) 
 is the most popular database query language in the world. The main 
 goals of MyDB are speed, robustness and ease of use.
 .
 This package includes development libraries and header files.

Package: mydb-common
Section: database
Architecture: any
Pre-depends: debconf (>= 0.2.17), debsums, ${misc:Pre-Depends}
Multi-Arch: foreign
Depends: ${shlibs:Depends}, ${misc:Depends}
Breaks: mydb-common-5.7
Provides: mysql-common
Replaces: mysql-common, mydb-common-5.7
Description: MyDB common files (e.g. /etc/mysql/my.cnf)
 MyDB is a fast, stable and true multi-user, 
 multi-threaded SQL database server. SQL (Structured Query Language) 
 is the most popular database query language in the world. The main 
 goals of MyDB are speed, robustness and ease of use.
 .
 This package includes files needed by all versions of the client library
 (e.g. /etc/mysql/my.cnf).

Package: mydb-client
Architecture: any
Depends: mydb-common (= ${binary:Version}),
         ${shlibs:Depends}, ${misc:Depends}
Provides: mysql-client,
          virtual-mysql-client, virtual-mysql-client-core,
          mysql-client-8.0, mysql-client-core-8.0
Breaks: mysql-client-5.0,
        mysql-client-core-5.1,
        mysql-client-core-5.5,
        mysql-client-core-5.6,
        mysql-client-core-8.0,
        mysql-client-5.1,
        mysql-client-5.5,
        mysql-client-5.6,
        mysql-client-8.0,
        percona-xtradb-client-5.0,
        percona-server-client-5.1,
        percona-server-client-5.5,
        percona-server-client-5.6,
        mydb-client-5.7,
        mariadb-client,
        mariadb-client-core-5.5,
        mariadb-client-5.5,
        virtual-mysql-client,
        virtual-mysql-client-core
Replaces: mysql-client-5.0,
           mysql-client-core-5.1,
           mysql-client-core-5.5,
           mysql-client-core-5.6,
           mysql-client-core-5.7,
           mysql-client-core-8.0,
           mysql-client-5.1,
           mysql-client-5.5,
           mysql-client-5.6,
           mysql-client-5.7,
           mysql-client-8.0,
           percona-xtradb-client-5.0,
           percona-server-client-5.1,
           percona-server-client-5.5,
           percona-server-client-5.6,
           mydb-client-5.7,
           mariadb-client,
           mariadb-client-core-5.5,
           mariadb-client-5.5,
           virtual-mysql-client,
           virtual-mysql-client-core
Conflicts: mydb-client (< 8.0.12)
Description: MyDB client binaries
 MyDB is a fast, stable and true multi-user, 
 multi-threaded SQL database server. SQL (Structured Query Language) 
 is the most popular database query language in the world. The main 
 goals of MyDB are speed, robustness and ease of use.
 .
 This package includes the client binaries.

Package: mydb-server
Architecture: any
Pre-Depends: adduser,
             debconf (>= 0.2.17)
Depends: mydb-common (= ${binary:Version}),
         mydb-client (= ${binary:Version}),
         ${shlibs:Depends}, ${misc:Depends},
         psmisc,
         curl,
         openssl
Provides: mysql-server,
          virtual-mysql-server, virtual-mysql-server-core,
          mysql-server-8.0, mysql-server-core-8.0, mysql-community-server-core
Breaks: mysql-server-5.0,
        mysql-server-5.1,
        mysql-server-5.5,
        mysql-server-5.6,
        mysql-server-8.0,
        mysql-server-core-5.1,
        mysql-server-core-5.5,
        mysql-server-core-5.6,
        mysql-server-core-8.0,
        mysql-community-server-core,
        percona-xtradb-server-5.0,
        percona-server-server-5.1,
        percona-server-server-5.5,
        percona-server-server-5.6,
        mydb-server-5.7,
        mariadb-server,
        mariadb-server-core-5.5,
        mariadb-server-5.5,
        virtual-mysql-server,
        virtual-mysql-server-core
Replaces: mysql-server-5.0,
          mysql-server-5.1,
          mysql-server-5.5,
          mysql-server-5.6,
          mysql-server-5.7,
          mysql-server-8.0,
          mysql-server-core-5.1,
          mysql-server-core-5.5,
          mysql-server-core-5.6,
          mysql-server-core-5.7,
          mysql-server-core-8.0,
          mysql-community-server-core,
          percona-xtradb-server-5.0,
          percona-server-server-5.1,
          percona-server-server-5.5,
          percona-server-server-5.6,
          mydb-server-5.7,
          mariadb-server,
          mariadb-server-core-5.5,
          mariadb-server-5.5,
          virtual-mysql-server,
          virtual-mysql-server-core
Conflicts: mydb-server (< 8.0.12)
Description: MyDB server binaries
 MyDB is a fast, stable and true multi-user, 
 multi-threaded SQL database server. SQL (Structured Query Language) 
 is the most popular database query language in the world. The main 
 goals of MyDB are speed, robustness and ease of use.
 .
 This package includes the server binaries.

Package: mydb-test
Architecture: any
Depends: mydb-client (= ${binary:Version}),
         mydb-server (= ${binary:Version}),
         libmydbclient22-dev (= ${binary:Version}),
         perl, ${misc:Depends}, ${shlibs:Depends}
Replaces: mydb-server, mydb-client
Description: MyDB database test suite
 MyDB is a fast, stable and true multi-user, 
 multi-threaded SQL database server. SQL (Structured Query Language) 
 is the most popular database query language in the world. The main 
 goals of MyDB are speed, robustness and ease of use.
 .
 This package includes the MyDB test framework that provides 
 a means for verifying that MyDB and its client programs 
 operate according to expectations

Package: mydb-source
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: MyDB 8.4 source
 This package includes the source code to MyDB as configured before
 building.

Package: mydb-dbg
Architecture: any
Section: debug
Depends: mydb-server (= ${binary:Version}), ${misc:Depends}
Description: Debugging package for MyDB
 MyDB is a fast, stable and true multi-user, 
 multi-threaded SQL database server. SQL (Structured Query Language) 
 is the most popular database query language in the world. The main 
 goals of MyDB are speed, robustness and ease of use.
 .
 This package contains the debugging symbols for the MyDB binaries.

Package: mydb-router
Architecture: any
Description: MyDB Router
Depends: ${shlibs:Depends}, ${misc:Depends}

